.link-item {
    display: block;
    margin: 10px auto;
    color: #fff;
    border: 1px solid #7d55f1;
    background-color: #7d55f1;
    width: 250px;
    //height: 40px;
    padding: 15px 0;
    //line-height: 40px;
    text-align: center;
    &:first-of-type {
        margin-top: 40px;
    }
}
