.upload-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0; 
    border: 1px solid #7d55f1;
    padding: 30px;
    position: relative;
    label {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        input {
            visibility: hidden;
        }
    }
}

.user {
    display: flex;
    align-items: center;
    color: #7d55f1;
    font-size: 21px;
    .user-ico {
        border: 2px solid #7d55f1;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        fill: #7d55f1;
        margin-right: 8px;
    }
}
.friend-emoji {
    font-size: 13px;
    color: #555;
    margin: 20px 0;
    .emotion {
        color: #7d55f1;
    }
}

.photo-title {
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
    color: #888;
    margin-bottom: 10px;
    .user-name {
        color: #7d55f1;
    }
}
.single {
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
    &-photo {
        width: 100%;
        height: auto;
    }
    .emotions-wrapper {
        font-size: 14px;
        color: #555;
        .single-emotion {
            margin: 0;
            font-size: 18px;
            .emo-color {
                color: #7d55f1;
            }
        }
    }
}

.error-box {
    width: 100%;
    padding: 10px;
    color: crimson;
    border: 1px solid crimson;
    margin-top: 30px;
    p {
        margin: 0;
    }
}