/**
  Palette
 */

@light: #fff;
@colorful: #0077FF;
@dark: #113357;
@muted: #9FA9BA;


/***********************
  Elements colors
 */

@background: @light;
@active: @colorful;
@inactive: @muted;

@text: @dark;
@text-headers: @dark;
@text-label: @muted;
@text-link: @dark;

@sidebar-background: @dark;
@sidebar-text: @light;
@sidebar-active: #0D2947;

@menu-background: #F6F7FF;
@menu-active: #EBEDF8;

@config-background: #F6F7FF;
@config-section: #EBEDF8;

@input-placeholder: @muted;
@input-text: @dark;
@input-background: @light;
@input-readOnly: #F6F7FF;

