@import (reference) './colors.less';
/**
  Variables
 */
@light-font: "Ubuntu", "Trebuchet MS", sans-serif;
@light-weight: 300;

@regular-font: "Ubuntu", "Trebuchet MS", sans-serif;
@regular-weight: 400;

@opensans-font: "Open Sans", "Segoe UI", Tahoma, sans-serif;
@opensans-weight: 400;


/**
  Mixins
 */
.fontStyle(@style: 'light', @color: @text, @font-size: 1rem, @line-height: 1rem){
  font: ~"@{@{style}-weight}" @font-size/@line-height ~"@{@{style}-font}";
  color: @color;
}

.label(@color: @text-label) {
  .fontStyle('regular', @color);
}

.paragraph(@color: @text) {
  .fontStyle('light', @color, 1rem, 1.25rem);
}

.sectionTitle() {
  .fontStyle('regular', @text-headers, 1.16rem, 1.33rem);
}

.menuLink() {
  .fontStyle('regular', @inactive);
}

.truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




/**
  Global
 */
/* ubuntu - latin */
@font-face {
  font-family: 'Ubuntu';
  src: url('https://fonts.googleapis.com/css?family=Ubuntu&subset=latin-ext')
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext');
}