@import './fonts.less';
@import './grid.less';

* {
  box-sizing: border-box;
  line-height: 1.5!important;
}

a {
  text-decoration: none;
}

html {
  font-size: 12px;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  .paragraph();
}