.resend {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: -moz-linear-gradient( -78deg, rgb(125,85,241) 1%, rgb(69,208,187) 52%, rgb(253,220,138) 100%);
  background-image: -webkit-linear-gradient( -78deg, rgb(125,85,241) 1%, rgb(69,208,187) 52%, rgb(253,220,138) 100%);
  background-image: -ms-linear-gradient( -78deg, rgb(125,85,241) 1%, rgb(69,208,187) 52%, rgb(253,220,138) 100%);
  .form-wrapper {
      max-width: 470px;
      width: 100%;
      padding: 50px;
      background-color: #fff;
      border: 0;
      border-radius: 12px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      .title {
          color: #000;
          font-size: 35px;
          font-weight: bold;
          letter-spacing: 2px;
          text-align: center;
          line-height: 1.6;
          text-transform: uppercase;
          background: rgba(255, 253, 160, 1);
          background: -webkit-linear-gradient( left, #00ffff 0%, #97fba0 25%, #97b1fb 50%, #00ffff 100%) repeat;
          -webkit-background-clip: text;
          -ms-background-clip: text;
          -moz-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          -ms-text-fill-color: transparent;
          -moz-text-fill-color: transparent;
          text-fill-color: transparent;
      }
      .alt {
          text-align: center;
          font-size: 16px;
          margin-bottom: 20px;
      }
      .form-box {
          display: flex;
          flex-direction: column;
          .input {
              width: 100%;
              height: 40px;
              padding: 0 15px;
              color: #555;
              background-color: #fff;
              border: 1px solid #e1e1e1;
              margin-bottom: 20px;
          }
          .submit-button {
              border: 2px solid #7d55f1;
              background-color: #7d55f1;
              height: 38px;
              width: 100%;
              color: #fff;
              text-align: center;
              text-transform: uppercase;
              font-size: 16px;
              letter-spacing: .5px;
              font-weight: bold;
              transition: all .2s ease-in-out;
              &:hover {
                  background-color: transparent;
                  color: #7d55f1;
              }
          }
      }
      .links {
          display: flex;
          justify-content: space-between;
          margin-top: 12px;
          font-size: 12px;
          color: #555;
          .account {
              &-link {
                  color: #7d55f1;
                  &:hover {
                      text-decoration: underline;
                  }
              }
          }
          .go-back {
              color: #7d55f1;
              text-align: right;
              &:hover {
                  text-decoration: underline;
              }
          }
      }
  }
  .resend-modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      color: #555;
      max-width: 300px;
      height: 200px;
      padding: 30px;
      border: 1px solid #e1e1e1;
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .go-back {
        margin-top: 20px;
        color: #7d55f1;
        text-align: right;
        &:hover {
            text-decoration: underline;
        }
    }
  }
}

.error-box {
  width: 100%;
  border: 1px solid #FF0000;
  background-color: #FF4C4C;
  margin-bottom: 20px;
  padding: 10px;
  color: #fff;
  p {
    margin: 0;
  }
}
