.boxes-wrapper {
    margin: 30px 0;
}
.card {
    background: #fff;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 50px;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    .user-name {
        text-align: center;
        color: #7d55f1;
        font-size: 21px;
    }
    .user-img {
        width: 100%;
        height: auto;
    }
}