.background {
  background-image: url("../../images/waves.png");
  background-position: bottom;
  background-size: cover;
  .main {
    text-align: center;
    font-size: 26px;
    color: #333333;
    line-height: normal;
    padding: 90px 0;
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
      text-align: center;
      padding-top: 400px;
      padding-right: 100px;
      padding-left: 100px;
      padding-bottom: 100px;
    }
    .header-title{
      font-weight: bold;
      font-size: 25px;
      line-height: 1.2;
      margin-bottom: 20px;
      text-align: center;
      color: #808080;
    }
    .header-alt {
      font-weight: bolder;
      text-align: center;
    }
    .main-img {
      width: 120px;
      height: 120px;
    }

    .footer-box-heading {
      font-size: 18px;
    }

    .footer-logo-alt {
      font-size: 16px;
    }
  }
}
