.boxes-wrapper {
    margin: 30px 0;
}
.card {
    background: #fff;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 50px;
    margin-bottom: 30px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    &-user {
        display: flex;
        align-items: center;
        color: #7d55f1;
        font-size: 21px;
        .user-ico {
            border: 2px solid #7d55f1;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            fill: #7d55f1;
            margin-right: 8px;
        }
    }
    .friend-emoji {
        font-size: 13px;
        color: #555;
        margin: 20px 0;
        .emotion {
            color: #7d55f1;
        }
    }
    .photo-title {
        text-align: center;
        font-size: 17px;
        text-transform: uppercase;
        color: #888;
        margin-bottom: 10px;
    }
    .single {
        &:last-of-type {
            .emotions-wrapper {
                padding: 0;
                border: 0;
                margin: 0;
            }
        }
        &-photo {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
        .emotions-wrapper {
            font-size: 14px;
            color: #555;
            padding-bottom: 15px;
            border-bottom: 1px solid #e1e1e1;
            margin-bottom: 20px;
            .single-emotion {
                margin: 0;
                font-size: 18px;
                .emo-color {
                    color: #7d55f1;
                }
            }
        }
    }
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    & > div {
        width: 20%;
    }
    .add {
        border: 1px solid green;
        background-color: greenyellow;
    }
    .reject {
        border: 1px solid orange;
        background-color: yellow;
    }
    .block {
        border: 1px solid red;
        background-color: #FF4C4C;
    }
}

.wrapper {
    padding: 20px 0;
}