.add { 
    &-form {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        padding: 30px;
    }
    &-title {
        font-size: 26px;
        color: #555;
    }
    &-input {
        width: 90%;
        margin: 20px auto;
        display: block;
        height: 40px;
        border: 1px solid #e1e1e1;
        border-radius: 15px;
        padding: 0 15px;
    }
    &-button {
        display: block;
        width: 250px;
        height: 40px;
        line-height: 40px;
        border: 2px solid #7d55f1;
        background: #7d55f1;
        color: #fff;
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 16px;
        &:hover {
            color: #7d55f1;
            background: transparent;
        }
    }
}
.error-box {
    width: 100%;
    padding: 10px;
    color: crimson;
    border: 1px solid crimson;
    margin-bottom: 20px;
    p {
        margin: 0;
    }
}
