.nav {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  .logo {
    font-size: 40px;
    color: #fff;
  }
  .navbar {
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-between;
    &-link {
      font-size: 16px;
      color: #fff;
      &:hover {
        text: #ccc;
      }
    }
  }
}