.add-feed {
    max-width: 80%;
    margin: 20px auto;
    textarea {
        width: 100%;
        height: 100px;
        border: 1px solid #7d55f1;
        resize: none;
    }
    input[type="file"] {
        display: block;
        margin: 20px auto;
    }
    button {
        border: 2px solid #7d55f1;
        background-color: #7d55f1;
        height: 38px;
        width: 100%;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: .5px;
        font-weight: bold;
        transition: all .2s ease-in-out;
        &:hover {
            background-color: transparent;
            color: #7d55f1;
        }
    }
}
