.header {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  background-image: -moz-linear-gradient( -78deg, rgb(125,85,241) 1%, rgb(69,208,187) 52%, rgb(253,220,138) 100%);
  background-image: -webkit-linear-gradient( -78deg, rgb(125,85,241) 1%, rgb(69,208,187) 52%, rgb(253,220,138) 100%);
  background-image: -ms-linear-gradient( -78deg, rgb(125,85,241) 1%, rgb(69,208,187) 52%, rgb(253,220,138) 100%);
  &-title {
    margin-top: 140px;
    color: #fff;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  &-alt {
    color: #fff;
    font-size: 19px;
  }
  &-img {
    max-width: 100%;
    max-height: 400px;
    margin: 50px 0;
  }
}
