.footer {
  background-color: #fff;
  padding-top: 110px;
  padding-bottom: 50px;
  &-logo {
    margin-top: -20px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.6;
    text-transform: uppercase;
    background: rgba(255, 253, 160, 1);
    background: -webkit-linear-gradient( left, #00ffff 0%, #97fba0 25%, #97b1fb 50%, #00ffff 100%) repeat;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
    &-alt {
      color: #9babb3;
      font-size: 11px;
    }
  }
  .socials-wrapper {
    margin-top: 50px;
    border-top: 1px solid #ccc;
    padding: 20px 0;
    .socials {
      list-style: none;
      display: flex;
      justify-content: center;
      &-item {
        margin: 0 10px;
        &-link {
          display: block;
          border: 1px solid;
          color: #fff;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          line-height: 38px;
          text-align: center;
          font-size: 21px;
          &:hover {
            background-color: transparent;
            color: #000;
          }
        }
      }
    }
  }
  .footer-box {
    &-heading {
      color: #37474f;
      font-size: 26px;
      margin-bottom: 20px;
      margin-top: 5px;
    }
    &-link {
      line-height: 1.8;
      color: #566f7b;
      font-size: 14px;
    }
    .contact-link {
      color: #927bfc;
    }
  }
}

.fb {
  border-color: #3a5897;
  background-color: #3a5897;
}
.tw {
  border-color: #54aced;
  background-color: #54aced;
}
.li {
  border-color: #0079b8;
  background-color: #0079b8;
}