.pnf {
    width: 100vw;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: -moz-linear-gradient( -78deg, rgb(125,85,241) 1%, rgb(69,208,187) 52%, rgb(253,220,138) 100%);
    background-image: -webkit-linear-gradient( -78deg, rgb(125,85,241) 1%, rgb(69,208,187) 52%, rgb(253,220,138) 100%);
    background-image: -ms-linear-gradient( -78deg, rgb(125,85,241) 1%, rgb(69,208,187) 52%, rgb(253,220,138) 100%);
    &-error, &-text {
        display: block;
        font-size: 21px;
        color: #fff;
    }
    &-error {
        font-size: 91px;
        margin-bottom: 15px;
    }
}

.login-button {
    margin: 20px auto; 
    border: 1px solid #fff;
    display: block;
    background-color: transparent;
    color: #fff;
    padding: 0 25px;
    height: 40px;
    line-height: 38px;

    &:hover {
        background-color: #fff;
        color: #47cbbd;
    }
}