.nav-wrapper {
    width: 100%;
    height: 50px;
    background-image: -moz-linear-gradient( -78deg, rgb(125,85,241) 1%, rgb(69,208,187) 52%, rgb(253,220,138) 100%);
    background-image: -webkit-linear-gradient( -78deg, rgb(125,85,241) 1%, rgb(69,208,187) 52%, rgb(253,220,138) 100%);
    background-image: -ms-linear-gradient( -78deg, rgb(125,85,241) 1%, rgb(69,208,187) 52%, rgb(253,220,138) 100%);
    .container {
        height: 100%;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        .brand {
            color: #fff;
            font-size: 26px;
        }
        .navbar-list {
            list-style: none;
            display: flex;
            .nav-link {
                color: #fff;
                padding: 0 15px;
                text-transform: uppercase;
                font-size: 13px;
            }
        }
    }
}