.main {
  text-align: left;
  font-size: 26px;
  color: #333333;
  line-height: normal;
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    text-align: center;
    padding-top: 400px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
  }
  .main-img {
    width: 120px;
    height: 120px;
  }
  .header-title {
    font-weight: bold;
    font-size: 25px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: center;
    color: #808080;
  }
  .header-alt {
    font-weight: bolder;
    text-align: center;
  }

  .footer-box-heading {
    font-size: 18px;
  }

  .footer-logo-alt {
    font-size: 16px;
  }

  h3 {
    color: #000000;
    font-weight: bold;
  }
  p:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000;
  }
}
